
#grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr,6fr,4fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#header {
    grid-column: 1 / 3;
    text-align: center;
}

#dataTable{
    grid-column: 1 / 3;
    overflow-y: auto;
    margin: 5px;
    padding: 5px;
    border-style: groove;
}

#monthButtonArray{
    grid-column: 2;
    border-style: groove;
    margin: 5px;
    padding: 5px;
    width: 200px;
}

#weightChart{
    grid-row: 2;
    border-style: groove;
    width: 50%;
    padding: 5px;
    margin: 5px;
}

#buttonHeader{
    width: 100%;
    border-bottom: groove;
    padding: 2px;
    
}

body {
    width: 100%;
    max-width: 1024px;
}

button {
    display: inline-block;
    width: 100%;
    margin: .5px;
    padding: 6px;
}

